# Python
__pycache__/
*.py[cod]
*.pyo
*.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# Environment
.env
.env.local

# OS
.DS_Store
Pan-Tompkins-Plus-Plus/physionet.org/
Pan-Tompkins-Plus-Plus/ECG-Live-Filter/
ECG-Live-Filter/physionet.org/

Thumbs.db

# Docker
*.log
/tmp/
/backend/logs/
cloudflared.log

# Docker volumes and data
/backend/data/
/backend/temp/